.footer {
	&__container {
		@include flex(flex-start, space-between);
	}
	&__item {
		width: 25%;
	}
	&__link {
		display: block;
		width: fit-content;
		font-size: 1.4rem;
		font-weight: 600;
		color: $text-color;
		margin-bottom: 3rem;
	}
}
